.bg-container4 {
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    width: 500px;
    margin:auto;
    background-size: cover;
}

.bottom-card {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.newsheading {
    font-size: 17px;
    color: #323f4b;
    font-family: roboto;
}

.newsdescription {
    font-size: 20px;
    font-family: Roboto;
    font-weight: bold;
}

.newspara {
    color: #7b8794;
    font-family: roboto;
}

.newsbutton {
    color: white;
    height: 40px;
    width: 120px;
    border-radius: 12px;
    background-color: #323f4b;
}